@model Model.EF.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Page Header
        <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <h2>Details</h2>

    <div>
        <h4>TaiKhoan</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GiaoVien.ten)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaoVien.ten)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mat_khau)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mat_khau)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ten_hien_thi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ten_hien_thi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.url_anh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.url_anh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.da_xoa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.da_xoa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.la_admin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.la_admin)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.tai_khoan }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</section>
<!-- /.content -->
