@model IEnumerable<Model.EF.HocSinh>

@{
    ViewBag.Title = "ListStudents";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
    Model.EF.LopOnDinh mainClass = ViewBag.MainClass;
}

<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Danh sách sinh viên lớp ổn định @mainClass.ten</h3>
            <h3><a href="/Admin/Students/Create">Tạo mới học sinh</a></h3>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i>@ViewBag.Message.type</h4>
                    @ViewBag.Message.content
                </div>
            }
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.LopOnDinh.ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ngay_sinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.so_dien_thoai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.url_anh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ngay_nhap_hoc)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LopOnDinh.ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ngay_sinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.so_dien_thoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.url_anh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ngay_nhap_hoc)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ma }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ma }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ma })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
@section script{
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}