@model IEnumerable<Model.EF.HocSinh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Page Header
        <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngay_sinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.da_xoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ma_lop_on_dinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.so_dien_thoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.url_anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngay_nhap_hoc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ngay_sinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.da_xoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ma_lop_on_dinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.so_dien_thoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.url_anh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ngay_nhap_hoc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ma }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ma }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ma })
                </td>
            </tr>
        }

    </table>

</section>
<!-- /.content -->
