@model Model.EF.KyHoc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Bạn có thực sự muốn xóa</h3>
        </div>
        <div>
            <h4>Kỳ học</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ky_hoc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ky_hoc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.bat_dau)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.bat_dau)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ket_thuc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ket_thuc)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</section>