@model Model.EF.LopHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Chi tiết lớp học ổn định</h3>
        </div>

        <div>
            <h4>Lớp học</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.GiaoVien.ten)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GiaoVien.ten)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KyHoc.ky_hoc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KyHoc.ky_hoc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LopOnDinh.ten)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LopOnDinh.ten)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MonHoc.ten)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MonHoc.ten)
                </dd>

            </dl>
        </div>
        <div class="box-footer">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ma.Trim() }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</section>