@model IEnumerable<Model.EF.LopHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}
<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Danh sách lớp học</h3>
            <h3>@Html.ActionLink("Tạo mới", "Create")</h3>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i>@ViewBag.Message.type</h4>
                    @ViewBag.Message.content
                </div>
            }
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.GiaoVien.ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.KyHoc.ky_hoc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LopOnDinh.ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MonHoc.ten)
                        </th>
                        <th></th>
                        <th>Quản lý điểm</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.GiaoVien.ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KyHoc.ky_hoc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LopOnDinh.ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MonHoc.ten)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ma.Trim() }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ma.Trim() }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ma.Trim() })
                            </td>
                            <td>@Html.ActionLink("Quản lý điểm", "ScoreManager", new { id = item.ma.Trim() })</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</section>
@section script{
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}