@model Model.EF.GiaoVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Chi tiết giáo viên</h3>
        </div>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ten)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ten)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ngay_sinh)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ngay_sinh)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.url_anh)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.url_anh)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.so_dien_thoai)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.so_dien_thoai)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ngay_vao_truong)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ngay_vao_truong)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ma.Trim() }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</section>