@model IEnumerable<Model.EF.GiaoVien>

@{
    ViewBag.Title = "Teachers";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

<h2>Teachers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan.mat_khau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_sinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url_anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.so_dien_thoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_vao_truong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan.mat_khau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_sinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url_anh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.so_dien_thoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_vao_truong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma })
        </td>
    </tr>
}

</table>
